body{
     min-height: 200vh;
    max-width: 400px;
    background-color: rgb(214, 204, 185); 
    margin: 0 auto;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    left: 1 ;
  }

button{
 background-color: blueviolet;

}

  
  